i.fa-fw {
    min-width: 1.25em;
    display: inline-block;
}

.goat-svg {
  position: relative;
}

.goat-svg svg {
  width: 100%;
  height: 100%;
}

.anchor-wrapper {
    float: left;
    padding-right: 4px;
    margin-left: -20px;
    visibility: visible;
}

.anchor-wrapper .octicon {
    vertical-align: middle;
    visibility: hidden;
}

.anchor-wrapper:hover .octicon, .anchor-wrapper:focus .octicon {
    visibility: visible;
}

.post .post-content {
    .markdown-alert {
        padding: 0.5rem 1rem;
        margin: 0;
        margin-bottom: 1rem;
        color: inherit;
        border-left: .25em solid #30363d;
        p {
            font-weight: 400;
            font-style: normal;
            letter-spacing: normal;
            padding-bottom: 30px;
        }
        p:last-child {
            padding-bottom: 0;
        }
        .markdown-alert-title {
            display: flex;
            font-weight: 500;
            align-items: center;
            line-height: 1;
        }
        svg {
            margin-right: 0.5rem !important;
        }
        svg path {
            fill: currentColor;
        }
        .markdown-alert-title {
            padding-top: 0;
        }
    }
    .markdown-alert.markdown-alert-note {
        border-left-color: #4493f8;
    }

    .markdown-alert.markdown-alert-note .markdown-alert-title {
        color: #4493f8;
    }

    .markdown-alert.markdown-alert-important {
        border-left-color: #ab7df8;
    }

    .markdown-alert.markdown-alert-important .markdown-alert-title {
        color: #ab7df8;
    }

    .markdown-alert.markdown-alert-warning {
        border-left-color: #9e6a03;
    }

    .markdown-alert.markdown-alert-warning .markdown-alert-title {
        color: #d29922;
    }

    .markdown-alert.markdown-alert-tip {
        border-left-color: #238636;
    }

    .markdown-alert.markdown-alert-tip .markdown-alert-title {
        color: #3fb950;
    }

    .markdown-alert.markdown-alert-caution {
        border-left-color: #da3633;
    }

    .markdown-alert.markdown-alert-caution .markdown-alert-title {
        color: #f85149;
    }
}

.post .post-content li > ul {
  padding-bottom: 0px;
}

.page-social-link {
    margin-left: 0.5em;
    margin-right: 0.5em;
}
.share > .page-social-link, .share-header > .page-social-link {
    margin-left: 0.1em;
    margin-right: 0.1em;
}
.share-header a.page-social-link.subscribe, .page-social-link.subscribe, .category-link {
    background-color: #bbb;
    color: #fff;
    font-size: 12px;
    padding: 0.2em 0.5em;
    border-radius: 1em;
    text-decoration: none;
    letter-spacing: normal;
    font-weight: normal;
    line-height: normal;
}
.share-header a.page-social-link.subscribe:hover, .page-social-link.subscribe:hover, .category-link:hover {
    background-color: #333;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}

#close-subscribe-dialog:hover {
    cursor: pointer;
}

table td, table th {
    padding: 0.5em 1em;
}

table {
    width: 100%;
    margin-bottom: 1em;
}