---
layout: default
---

<small>{{ page.date | date: "%-d %B %Y" }}</small>
<h1>{{ page.title }}</h1>

<p class="view">by {{ page.author | default: site.author }}</p>

{% include toc.html html=content %}
{{content}}
<p><em>Have questions or thoughts? Feel free to reach out to me at <a href="mailto:lukebemish@lukebemish.dev">lukebemish@lukebemish.dev</a></em></p>

{%- if page.tags && page.tags.size > 0 -%}
  {%- for tag in site.tags -%}
    <h3 id="{{ tag[0] | downcase | replace: ' ', '-' }}" class="post-list-heading">Tagged With: {{ tag[0] }}</h3>
    <ul class="post-list">
    {%- for post in tag[1] -%}
    <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
        <em>
        <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
        </a>
        </em>
    </li>
    {%- endfor -%}
  {%- endfor -%}
  </ul>
{%- endif -%}
